<!DOCTYPE html>
<html>
  <head>
    <title>Landing Page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'landing_page', media: 'all' %>
  </head>
  <script>
    document.getElementById('navigate-button').addEventListener('click', function() {
      window.location.href = "<%= settings_path %>";
    });
  </script>
  <body>
    <header class="header">
      <%= image_tag 'logo.png', alt: 'Logo', class: 'logo' %>
      <nav class="navbar">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Pricing', '/about' %>
        <%= link_to 'Revenue Share Model', '/revenue' %>
        <%= link_to 'Becoming a Practitioner', '/practitioner' %>
        <%= link_to 'Our Mission', '/mission' %>
        <%= link_to 'Contact Us', '/contact' %>
      </nav>
      <div class="btn_cont">
        <button>
          Sign up
        </button>
        <div class="btn_cont_divider"></div>
        <button>
          Sign In
        </button>
      </div>
    </header>
    <main>
      <div class='hero'>
        <%= image_tag 'hero_bg.png', alt: 'hero_img', class: 'hero_img' %>
        <span class='hero_text'>Welcome to TeleHealth Today</span>
      </div>
      <div class="about">
        <%= image_tag 'about.png', alt: 'about', class: 'about_img' %>
        <div class="about_content">
          <span>
            TeleHealth Today is a new free and open marketplace that connects individual businesses and business people to clients that want to talk to them. What type of practitioners we have and the reputation of the practitioners is solely determined by our members. Using governing principles and policies that include letting our practitioners market themselves how they want, and letting the clients they speak to rate them by posting a public review. Our members can also make money by getting their friends to join as we are currently offering an 80% commission to help us launch and capture market share quickly. Click the Links above for details on any of the things mentioned and thank you for being here! 
          </span>
          <button>
            Book Appointment
          </button>
        </div>
      </div>
      <div class="content">
        <span class="content_title">Choose Who you want to talk to</span>
        <div class="content_cont_row">
          <div class="content_cont">
            <%= image_tag 'lc1.png', alt: 'lc1' %>
            <div>
              <span class="content_cont_t1">Financial Health</span>
              <span class="content_cont_t2">Standard Care, Preventive Care</span>
            </div>
          </div>
          <div class="content_cont">
            <%= image_tag 'lc2.png', alt: 'lc2' %>
            <div>
              <span class="content_cont_t1">Healthcare</span>
              <span class="content_cont_t2">Standard Care, Preventive Care</span>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer_main">
        <div class="footer_col1">
          <%= image_tag 'logo.png', alt: 'logo', class: 'footer_logo' %>
          <div>
            <p class='social_info'>Download the app by clicking the link below</p>
            <div>
              <%= image_tag 'googleplay.png', alt: 'logo', class: 'app_stores' %>
              <%= image_tag 'applestore.png', alt: 'logo', class: 'app_stores' %>
            </div>
          </div>
        </div>
        <div class="pages_col_cont">
          <span class='footer_col_title'>Pages</span>
          <span class='footer_page_content_text'>Home it work</span>
          <span class='footer_page_content_text'>Pricing</span>
          <span class='footer_page_content_text'>Blog</span>
          <span class='footer_page_content_text'>Demo</span>
        </div>
        <div class="pages_col_cont">
          <span class='footer_col_title'>Contact</span>
          <div class="footer_contact_cont">
            <%= image_tag 'callicon.png', alt: 'logo', class: 'app_stores' %>
            <span class='footer_contact_text'>(714) 477-2877</span>
          </div>
          <div class="footer_contact_cont">
            <%= image_tag 'emailicon.png', alt: 'logo', class: 'app_stores' %>
            <span class='footer_contact_text'>Healthtoday@gmail.com</span>
          </div>
          <div class="footer_contact_cont">
            <%= image_tag 'emailicon.png', alt: 'logo', class: 'app_stores' %>
            <span class='footer_contact_text'>1100 W Town and Country Rd Suite 1250 Orange, CA 92868</span>
          </div>
        </div>
        <div class="footer_socials">
          <span class='footer_col_title'>Contact</span>
          <div class="footer_social_icons_cont">
            <%= image_tag 'tiktok.png', alt: 'logo', class: 'footer_social_icons' %>
            <%= image_tag 'snapchat.png', alt: 'logo', class: 'footer_social_icons' %>
            <%= image_tag 'facebook.png', alt: 'logo', class: 'footer_social_icons' %>
            <%= image_tag 'twitter.png', alt: 'logo', class: 'footer_social_icons' %>
            <%= image_tag 'linkedin.png', alt: 'logo', class: 'footer_social_icons' %>
            <%= image_tag 'instagram.png', alt: 'logo', class: 'footer_social_icons' %>
          </div>
        </div>
      </div>
      <div class="footer_btm">
        <span>© 2024 Telehealth Today, LLC. All Rights Reserved.</span>
      </div>
    </footer>
  </body>
</html>
